<html>
    <head>
    <title> Movie Ratings </title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Movie Ratings</a>
                </div>
                <div class="navbar-collapse collapse">
            </div>
        </div>

            {% block body %}{% endblock %}
        <!--
        <script type="text/javascript" src="jquery"></script>
        <script type="text/javascript">
            actual javascript
            add click handler
        </script>
    -->
    </body>
</html>

