{% extends 'base.html' %}

<style>
  ul.plain-list li { list-style-type: none; }
  </style>

{% block title %}
    <title> User's Movie Ratings </title>
{% endblock %}
{% block body %}
	<h3> User {{ user_id }}
	</h3>
    {% for numeric_rating, rating_objs in ratings|groupby('movie_rating')|reverse %}

        <li>The following movies have been rated a {{ numeric_rating }}
            <ul class="plain-list">
        		{% for rating_obj in rating_objs %}
                    <li>{{ rating_obj.movie.name }}</li>
                {% endfor %}
            </ul>
        </li>

    {% endfor %}
{% endblock %}

{#   how to comment out Jinja2 lines  #}



